@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

*{
    margin: 0;
    font-family: 'San Francisco','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-flex-justify-around{
    display: flex;
    justify-content: space-around;
}

/* Titre */
/* début */
#Titre{
    background-color: #002147;
    color: white;
    padding: 5%;
    text-align: center;
}

#Titre h1{
    font-size: 160%;
}

#Titre h2{
    font-size: 250%;
    margin-top: 2%;
}
/* Titre */
/* fin */

/* à Propos */
/* début */

#divPortrait{
    max-width: 25%;
}

.PortraitBryce{
    max-width: 100%;
    margin: auto; 
}

#aPropos h2{
    font-size: 250%;
    margin-top: 2rem;
    text-align: center;
}

#aPropos div{
    text-align: justify;
}

#aPropos p{
    font-size: 1.2rem;
}

.aPropos-text{
    display: flex;
    align-items: center;
    background-color: #002147;
    color: #B6D0E2;
    transition: all 300ms;
    margin-top: 2%;
    margin-bottom: 8%;
    margin-left: 8%;
    margin-right: 8%;
}

.aPropos-text:hover{
    background-color: #002a5b;
}

.aPropos-text img{
    max-width: 200px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 1000px;
    border: 5px solid rgb(255, 255, 255);
}

.aPropos-text p{
    margin-right: 3%;
}

.monCV{
    text-decoration: none;
    color: white;
    background-color: rgb(61, 163, 254);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 15rem;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    transition: background-color 200ms;
}

.monCV:hover{
    background-color: rgb(107, 186, 254);
}

.logiciel-utilise div{
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 5px rgb(255, 255, 255) dashed;
    border-radius: 30px;
    margin-top: 2%;
    padding: 2%;
}

.logiciel-utilise h2{
    color: white;
}

.logiciel-utilise div img{
    height: 100px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.langage-utilise div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 5px rgb(73, 73, 73) dashed;
    border-radius: 30px;
    margin: 2%;
}

.langage-utilise div img{
    height: 100px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.divLogiciel{
    display: flex;
    justify-content: center;
    background-color: #1e1842;
}

.divLangageFramewok{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    background-color: #bcccfe;
}

.divLangageFramewok #developersGif{
    width: 40%;
}
/* à Propos */
/* fin */


/* Projet */
/* début */

#projet{
    margin-bottom: 5%;
}

#projet h2{
    font-size: 250%;
    margin-top: 2rem;
    text-align: center;
}

#tout-projet{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projet-div{
    max-width: 400px;
    background-color: #002147;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #B6D0E2;
    transition: all 200ms;
}
.projet-div:hover{
    background-color: #003068;
}

.projet-div div img{
    width: 390px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projet-div a{
    color: #B6D0E2;
    font-size: 1.5rem;
}

.projet-div h1{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.projet-div h5{
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
}

.projet-div p{
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

/* Projet */
/* fin */


/* Centre Intérêt */
/* début */

#centreIntérêt{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

#centreIntérêt h2{
    text-align: center;
    font-size: 250%;
    margin-top: 2%;
}

#centreIntérêt #divInformatique{
    display: flex;
    flex-direction: column;
    background-color: #002147;
    color: #B6D0E2;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#centreIntérêt #divInformatique p{
    margin-top: 2%;
    margin-bottom: 2%;
}

#centreIntérêt #divInformatique div{
    display: flex;
    justify-content: space-between;
}

#centreIntérêt #divInformatique div img{
    width: 30%;
    object-fit: cover;
}

#centreIntérêt #divSport{
    display: flex;
    flex-direction: column;
    background-color: #002147;
    color: #B6D0E2;
    padding: 2%;
}

#centreIntérêt #divSport p{
    margin-top: 2%;
    margin-bottom: 2%;
}

#centreIntérêt #divSport div{
    display: flex;
    justify-content: space-between;
}

#centreIntérêt #divSport div img{
    width: 30%;
    object-fit: cover;
}

/* Projet */
/* fin */